@model Customer
@{
    ViewData["Title"] = "Lista Klientów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Klienci</h2>

@if (Model.Customers.Count == 0)
{
    <text>Nikogo tu nie ma</text>
}
else
{
    <div class="list-group">

        @foreach (var customer in Model.Customers)
        {
            <a class="list-group-item" asp-controller="Customer" asp-action="Klient" asp-route-id="@customer.Id">@customer.Name</a>
        }
    </div>

}
