@model Vidly_Kurs.ViewModels.CustomerViewModel
@{
    ViewData["Title"] = "Lista Klientów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Klienci</h2>

@if (Model.customers.Count == 0)
{
    <text>Nikogo tu nie ma</text>
}
else
{
<div class="list-group">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Klient</th>
                    <th>Zniżka</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.customers)
                {
                    <tr>
                <td>
                    <a asp-controller="Customer" asp-action="Klient" asp-route-id="@customer.Id">  @customer.Name    </a>
</td>
                <td style="margin-left: 10px">
                    @customer.MembershipType.DiscountRate%
                </td>
                </tr>
            }
                </tbody>
            </table>
</div>

}
