@model Vidly_Kurs.ViewModels.MoviesViewModel
@{
    ViewData["Title"] = "Filmy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filmy</h2>
@if (Model.Movies.Count == 0)
{
    <text>Nikogo tu nie ma</text>
}
else
{
 
    <div class="list-group">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Tytuł</th>
                <th>Gatunek</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>
                        <a asp-controller="Movie" asp-action="Film" asp-route-id="@movie.Id">  @movie.Name    </a>
                    </td>
                    <td style="margin-left: 10px">
                        @movie.Gatunek.Name
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>



}


