@model Vidly_Kurs.ViewModels.RandomMovieViewModel
@{
    ViewData["Title"] = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    W taki sposób w składni Razor 
    tworzymy wielolinijkowe komentarze.
*@

@{
    var className = Model.Customers.Count > 5 ? "popular" : null;  //If(Model.Customers.Count >5){ className="popular";}else {className=null;}
}



<h2 class="@className">
    @Model.Movie.Name
</h2>



@if (Model.Customers.Count == 0)
{
    <text>Nikogo tu nie ma</text>
}
else
{
    <ul>

        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>

}
